
.florYplaya { 
  width: 100%; 
  // Ponemos 100% para ocupe toda la pantalla.

  // Si ponemos 100vp se ajustará al tamaño del dispositivo que hemos marcado en media en el picture y no conviene porque hay muchos tamaños de pantalla. Va bien para height pero no para width, aunque mejor usar el 100%.

  // vp toma TODO el tamaño del dispositivo, si se lo dieramos a una img dentro de un section no se adaptaría al tamaño del section contendor sino del dispositivo.
  
  border-top-right-radius: 150px;

  /* desktop*/
  @media only screen and (min-width: 1100px) {
  border-radius: 0;
}
}